.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-msg-container{
  height: 10%;
  border: 1px solid #999;
  border-radius: 10px;
  position: relative;
  padding: 0.2em 0.5em;
}

.input-msg{
  flex-grow: 1;
  border: 0;
  height: 90%;
  width: 95%;
}
.input-msg:focus-visible{
  border: 0px;
  outline: none;
}
.input-msg-enter{
  width: 40px;
  height: 80%;
  font-size: 30px;
  margin-left: 1em;
}

.standalone-table-container {
  width: 100%;
  display: block;
  min-height: 100%;
  height: 0px;
  overflow-y: scroll;
}

.rcv-msg-container::-webkit-scrollbar {
  width: 0.5em;

}
.rcv-msg-container::-webkit-scrollbar-track {
  color: green;
  background-color: #DDD;
  border-radius: 10px;
}
.rcv-msg-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;  
  border-radius: 10px;
}

.spinner {
  animation: spin infinite 5s linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.show{
  animation: expand 3s;
}
@keyframes main {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}